table.list
    tbody
    caption Browse for Tutorials
    tr.caption
        td.caption Name
        td.caption Level
        td.caption Author
        td.caption Technology
    for row in db
        tr
            td
                a(href='#')= row.name
            td= row.level
            td= row.author
            td= row.tech
